In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('Data_linguistique/Data_analyse.csv')
df.head()

,Eleve_ID,classe,genre,personnages,texte,texte_extrait,texte_nettoye,nb_mots,texte_lemmatise,nb_mots_uniques,TTR,texte_sans_stopwords,top_20_mots
0,ID_0001,1,0,21,Textes/0001.docx,Deux enfants s’amusent à la mer sur un petit b...,Il est trop tard…\nIls ont chacun espoir de se...,240,il être trop tard il avoir chacun espoir de se...,120,0.500000,être trop tard avoir chacun espoir rapprocher ...,"['le', 'il', 'de', 'à', 'et', 'un', 'plus', 'ê..."
1,ID_0002,1,0,11,Textes/0002.docx,Deux enfants s’amusent à la mer sur un petit b...,"Il est déjà trop tard, Pierre et Maxime sont a...",181,il être déjà trop tard Pierre et Maxime être à...,101,0.558011,être déjà trop tard Pierre Maxime être large m...,"['le', 'il', 'de', 'un', 'et', 'être', 'son', ..."
2,ID_0003,1,0,11,Textes/0003.docx,Deux enfants s’amusent à la mer sur un petit b...,Il est déjà trop tard pour se rapprocher du ri...,360,il être déjà trop tard pour se rapprocher de r...,147,0.408333,être déjà trop tard rapprocher rivage alors de...,"['le', 'il', 'un', 'et', 'de', 'à', 'enfant', ..."
3,ID_0004,1,0,0,Textes/0004.docx,Deux enfants s’amusent à la mer sur un petit b...,Ils est déjà trop tard le bateau est trop loin...,152,il être déjà trop tard le bateau être trop loi...,82,0.539474,être déjà trop tard bateau être trop loin riva...,"['être', 'le', 'un', 'il', 'enfant', 'de', 'qu..."
4,ID_0005,1,0,11,Textes/0005.docx,Deux enfants s’amusent à la mer sur un petit b...,Deux enfants s’amusent à la mer sur un petit b...,212,Deux enfant amusent à le mer sur un petit bate...,106,0.500000,Deux enfant amusent mer petit bateau être expl...,"['le', 'il', 'un', 'de', 'et', 'Michel', 'à', ..."

In [10]:
import scipy.stats as stats

# Tests de Mann-Whitney U pour comparer les distributions de 'nb_mots' entre les genres 0 et 1

nb_mots_genre_0 = df[df['genre'] == 0]['nb_mots']
nb_mots_genre_1 = df[df['genre'] == 1]['nb_mots']

u_stat, p_value = stats.mannwhitneyu(nb_mots_genre_0, nb_mots_genre_1, alternative='two-sided')
print(f"U-: {u_stat}, p-value: {p_value}")

U-: 458.0, p-value: 0.3815066757828711

In [11]:
nb_mots_uniques_genre_0 = df[df['genre'] == 0]['nb_mots_uniques']
nb_mots_uniques_genre_1 = df[df['genre'] == 1]['nb_mots_uniques']

u_stat, p_value = stats.mannwhitneyu(nb_mots_uniques_genre_0, nb_mots_uniques_genre_1, alternative='two-sided')
print(f"U-: {u_stat}, p-value: {p_value}")

U-: 449.0, p-value: 0.3203835848865272

In [12]:
TTR_genre_0 = df[df['genre'] == 0]['TTR']
TTR_genre_1 = df[df['genre'] == 1]['TTR']

u_stat, p_value = stats.mannwhitneyu(TTR_genre_0, TTR_genre_1, alternative='two-sided')
print(f"U-: {u_stat}, p-value: {p_value}")

U-: 585.0, p-value: 0.43362902663936187

In [13]:
from scipy.stats import chi2_contingency


table = pd.crosstab(df['genre'],df['personnages'])
print(table)

chi = chi2_contingency(table)

print(chi)

personnages  0   10  11  21  22
genre
0             9   1  19   6   0
1             1   1   5  19   4
Chi2ContingencyResult(statistic=25.09051587301587, pvalue=4.8244852576593716e-05, dof=4, expected_freq=array([[ 5.38461538,  1.07692308, 12.92307692, 13.46153846,  2.15384615],
       [ 4.61538462,  0.92307692, 11.07692308, 11.53846154,  1.84615385]]))